{% extends 'layout.html' %}

{% block 'content' %}
<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="page-header">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="pageheader-title"> Caméra de surveillance </h2>
            </div>
            <div class="page-breadcrumb">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tableau de bord</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Caméra de surveillance</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <h5 class="card-header">Vues principales (<span class="text-danger">hors ligne</span>)</h5>
            <div class="card-body">
            </div>
        </div>
    </div>
</div>
{% endblock %}
